# flyctl launch added from .gitignore
**/.yarn/*
!**/.yarn/cache
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# Enable zero-installs
**/.yarn/cache
!**/.yarn/cache
**/.pnp.* 
fly.toml
